body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-box {
  height: 70%;
  width: 40%;
  z-index: 2;

  position: absolute;
  text-align: center;
  background-color: rgba(125, 200, 230, 0.4);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.message {
  font-size: 1.5rem;
  font-family: "Permanent Marker", Times, serif;
  color: rgb(22, 4, 124);
  line-height: 2vh;

  position: relative;
}
.button {
  text-align: start;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5%;
  height: 15%;
}
.soundimg {
  border-radius: 50px;
  width: 100%;
  height: 100%;
}
.quote {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.quote-note {
  height: 100%;
  width: 100%;
  background-image: url("./images/notes.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-items: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quaote-text {
  font-size: 1.5rem;
  font-family: Caveat, Times, serif;
  font-weight: bolder;
  height: 50%;
  width: 70%;
}

@media screen and (max-width: 400px) {
  .message {
    font-size: 1rem;
    line-height: 2.5vh;
  }
  #video {
    height: 100%;
    width: auto;
  }
  .button {
    width: 8%;
  }
  .quaote-text {
    font-size: 1.3rem;
  }
  .quote-box {
    height: 60%;
    width: 90%;
  }
}
@media screen and (min-width: 400px) {
  .message {
    font-size: 1.5rem;

    line-height: 3vh;
  }
  .button {
    width: 10%;
  }
  #video {
    height: 100%;
    width: auto;
  }
  .quaote-text {
    font-size: 1.5rem;
  }
  .quote-box {
    height: 70%;
    width: 80%;
  }
}
@media screen and (min-width: 700px) {
  .message {
    font-size: 1.5rem;

    line-height: 2.5vh;
  }
  .button {
    width: 8%;
  }
  #video {
    height: 100%;
    width: auto;
  }
  .quaote-text {
    font-size: 2rem;
  }
  .quote-box {
    height: 60%;
    width: 70%;
  }
}
@media screen and (min-width: 1000px) {
  .message {
    font-size: 1.5rem;
    line-height: 3vh;
  }
  .button {
    height: 15%;
    width: 8%;
  }
  #video {
    height: 100%;
    width: 150%;
  }
  .quaote-text {
    font-size: 2rem;
  }
  .quote-box {
    height: 80%;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .message {
    font-size: 1.5rem;
    line-height: 3vh;
  }
  #video {
    height: 100%;
    width: 100%;
  }
  .quaote-text {
    font-size: 2rem;
  }
  .quote-box {
    height: 80%;
    width: 50%;
  }
  .button {
    height: 20%;
    width: 8%;
  }
}
@media screen and (min-width: 1300px) {
  .message {
    font-size: 2rem;

    line-height: 2vh;
  }
  .button {
    height: 20%;
    width: 7%;
  }
  .quaote-text {
    font-size: 2.5rem;
  }
  .quote-box {
    height: 80%;
    width: 50%;
  }
}
@media screen and (min-width: 1500px) {
  .message {
    font-size: 2rem;

    line-height: 3vh;
  }
  .quote-box {
    height: 70%;
    width: 50%;
  }
  .quaote-text {
    font-size: 2.5rem;
  }
}
